.container{
    max-width: 1300px!important;
}

.item{
    max-width: 300px;
    text-decoration: none;
    color: black;
}
.item:hover{
    cursor: pointer;
    box-shadow: -1px -1px 45px -12px rgba(0,0,0,0.29);
-webkit-box-shadow: -1px -1px 45px -12px rgba(0,0,0,0.29);
-moz-box-shadow: -1px -1px 45px -12px rgba(0,0,0,0.29);
}

.item__img{
    margin-left: -10px;
}

.sizes{
    font-size: 12px;
}
.price{
    margin-right: 10px;
}

.muted{
    color: grey;
    text-decoration:line-through;
}